@import "../../theme/theme.scss";

.container {
  width: 100%;
  border: $border;
  background: $fill;
  border-radius: 12px;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  width: 100%;
  padding: 16px;
}

.titleContainer {
  width: 100%;
  text-align: center;
}

.title {
  color: $header;
  font-weight: 600;
  font-size: 1.5rem;
}

.date {
  width: 100%;
  text-align: right;
  color: $body1;
  font-weight: 200;
  font-size: 0.8rem;
}
